/* apply red background-color to all QPushButton */
QPushButton{
	background-color:red;
}
/* apply blue background-color to buttons which are hovered */
QPushButton:hover{
	background-color:blue;
}

/* apply green background-color only to QPushButton with object name 'btnSubmit' */
QPushButton#btnSubmit{
	background-color:green;
}